@import "tailwindcss";

*, ::after, ::before{
    box-sizing: border-box;
}

:root{
    --color-primary: #b9bc31;
}

html {
    font-family: 'Montserrat', sans-serif;
}

.descripcion__container{
    h1{
        padding-bottom: 8px;
        margin-bottom: 24px;
        border-bottom: 5px solid var(--color-primary);
        max-width: fit-content;
    }
}

.p_final{
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 5px solid var(--color-primary);  
}